{% extends 'base.html' %}
{% load static %}
      {% block content %}

                    <div>
            <h3 class="mt-2">Для людей готовых принять к себе</h3>
          <p>По нашим правилам вы в праве взять ксерокопию паспорта(не в коем случае не сам документ)</p>
          <p>!В случае кражи/порчи имущества данный проект не несёт ответственности!</p>
          <p>В любой кнфликтной ситувции обращайтес к правоохранительным органам</p>
          </div>
          <div class="mt-2">
            <h3>Для Путишествинков</h3>
          <p>Имейте при себе ксерокопию паспорта, вам могут отказать в ночлежке и не стоит бжидаться</p>
          <p>!Следите за своими вещами!</p>
          <p>В любой кнфликтной ситувции обращайтес к правоохранительным органам</p>
          </div>

      {% endblock %}