{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'room_create' %}">Создать</a>
    {% for obj in rooms %}
        {% if obj.author == request.user.id %}
        <div class="serch mt-2 ta-l">
                <a href="{% url 'room_details' obj.id  %}">
                    <h2 class="ta-l">{{ obj.title }}</h2>
                </a>
                <p>
                    {{ obj.adres}}
                </p>
                <p>
                    {{ obj.discript }}
                </p>

                {{ obj.content|safe }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}