body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 1.6;
  color: #000;
}
.card-header>a{
    color: black;
}
header{z-index: 300;
      position: -webkit-sticky;
      position: sticky;top: 0px;
    background: #29648f;
    height: 60px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.86);
}
.r_padding{
    padding-right: 50px;
}
.l_padding{
    padding-left: 20px;
}
.nav_menu>a{
  display: inline-block;
  font-size: 17px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
a:hover{
    color: white;
}
.link{
    display: inline-block;
    font-size: 17px;
    position: relative;
    color: #ffffff;
    text-decoration: none;


  }
  .nav{
    font-size: 18px;
    margin-top: 2%;
    height: 50px;


    /*width: 45%;*/
  }

.nav_link:hover:after{
  opacity: 1;
}
.nav_link{
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: color .2s linear;
}
.nav_link:hover{
  color: #ffffff;
}
.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}
.nav_link:hover:after{
  opacity: 1;
}
.absolute{
    z-index: 200;
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px black;
}
/----------/
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;

}
.mainVideo{
    position: relative;
    top: -70px;
    width: 100%;
}
/* Add some content at the bottom of the video/page */
.content {
    text-align: left;
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    top: -200px;
}
.sub_content {
width: 80%;
    margin-left: 10%;
}
p{
    text-align: left;
}
.ta-l{
    text-align: left;
    align-items: baseline;
}

/* Style the button used to pause/play the video */
.buttonHeader{
        background: #29648f;
    margin-left: 20%;
    color: white;
    font-size: 15px;
    border: #23577a 2px;
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}
/----------/
box{
    background: rgba(0, 0, 0, 0.34);
    height: 50px;
}

/-------/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -200%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.serch{
    background: #29648f;
}
.serchbtn{
    background: #29648f;
}
.serchbtn:hover {
    color: #0b3fe8; /* Цвет ссылки при наведении на нее курсора мыши */
    background: #26da4c; /* Цвет фона */
   }

.a_logo{
    color: #6fa8fd
}
.a_logo>span{
    margin-left: -11px;
    margin-bottom: -15px;
}
.btn_login{
    color: #c9d6e1;
border-color: #c9d6e1;
}
nav>a{
    margin-top: 4px;
}
/--map--/
box_block {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
box_block ul {
    display: inline-block;
}
box_block li {
    float:left;
}
/--map--/